<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/></head>
<body>
<div class="container">
    <nav th:replace="~{index :: navbar}"></nav>
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <h2 th:text="${clinica.id == 0? 'Nueva Clínica' : 'Editar Clínica'}"></h2>
            <h2></h2>
            <hr/>
            <form method="post" th:action="@{'/clinica/save'}" th:object="${clinica}">
                <input  type="hidden"/>
                <div class="mb-3">
                    <label class="form-label">Nombre de la Clinica</label>
                    <input  type="text" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Direccion</label>
                    <input  type="text" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">Teléfono</label>
                    <input  type="text" class="form-control"/>
                </div>
                <a th:href="@{'/clinica'}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary" th:text="${clinica.id == 0? 'Registrar' : 'Actualizar'}">Reg/act</button>
            </form>
        </div>
    </div>
</div>
<script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
</body>
</html>